- div_for task_list do
  = image_tag task_list.user.picture.url(:thumb), :title => task_list.user.name
  %h3= link_to task_list.title, resource_url(task_list)
  = image_tag "private.png" if task_list.private?
  = pluralize(rand(3), 'task')
  .clear